<h1><%= @room.name%> </h1>
<h1><%=@room.description%></h1>
<div>
  <%= link "Edit", to: Routes.room_path(@conn, :edit, @room.id), class: "m-1 px-4 py-2 text-base rounded-full text-white bg-green-500"%>
</div>
