<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Chatty · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header class="bg-yellow-400">
      <nav class="w-full h-10 flex items-center">
        <ul className="flex">
          <li><%= link "Chatty", to: Routes.room_path(@conn, :index), class: "text-xl font-medium"%></li>
        </ul>
      </nav>
      <%= if @signed_in? do %>
        <div class="flex flex-col justify-center">
          <h3> Signed in as : <%= Chatty.Accounts.current_user(@conn).username %> </h3>
          <%= link "Sign Out", to: Routes.session_path(@conn, :delete), method: :delete, class: "px-4 py-2 text-base rounded-full text-white bg-black" %>
        <% else %>
          <%= link "Sign Up", to: Routes.registration_path(@conn, :new), class: "px-4 py-2 text-base rounded-full text-white bg-green-400" %>
        </div>
      <% end %>
    </header>
    <%= unless is_nil(get_flash(@conn, :info)) do %>
      <p class="bg-red-400" role="alert"> <%= get_flash(@conn, :info) %></p>
    <% end %>
    <%= unless is_nil(get_flash(@conn, :error)) do %>
      <p class="bg-red-400" role="alert"> <%= get_flash(@conn, :error) %></p>
    <% end %>
    <main role="main" class="min-w-screen">
      <%= @inner_content %>
    </main>
    <script>window.userToken = "<%= assigns[:user_token] %>";</script>
  </body>
</html>
